<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/ionicons.css" rel="stylesheet" />
    <link href="css/profile/responsive.css" rel="stylesheet" />
    <link href="css/profile/styles.css" rel="stylesheet" />
  </head>
  <body>
    <section class="intro-section">
      <div class="container">
        <div class="heading-wrapper">
          <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-4 center">
              <div class="info">
                <i class="icon ion-ios-chatboxes-outline"></i>
                <div class="right-area">
                  <h5>{{email}}</h5>
                  <h6>REPLY IN 24 HOURS</h6>
                </div>
                <!-- right-area -->
              </div>
              <!-- info -->
            </div>
            <!-- col-sm-4 -->
          </div>
          <!-- row -->
        </div>
        <!-- heading-wrapper -->

        <div class="intro">
          <div class="row">
            <div class="col-sm-8 col-md-4 col-lg-3">
              <div class="profile-img margin-b-30">
                <img src="{{avatarUrl}}" alt="" />
              </div>
            </div>
            <!-- col-sm-8 -->

            <div class="col-sm-10 col-md-5 col-lg-6">
              <h2><b>{{username}}</b></h2>
              <h4 class="font-yellow">Key Account Manager</h4>
              <ul class="information margin-tb-30">
                <li><b class="font-yellow">EMAIL</b> : {{email}}</li>
              </ul>
              <ul class="social-icons">
                <li>
                  <a href="#"><i class="ion-social-pinterest"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-twitter"></i></a>
                </li>
              </ul>
            </div>
            <!-- col-sm-8 -->
            <!-- col-lg-2 -->
          </div>
          <!-- row -->
        </div>
        <!-- intro -->
      </div>
      <!-- container -->
    </section>
    <!-- intro-section -->

    <footer>
      <p class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | This template is made with
        <i class="ion-heart" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </footer>

    <!-- SCIPTS -->

    <script src="common-js/jquery-3.2.1.min.js"></script>

    <script src="common-js/tether.min.js"></script>

    <script src="common-js/bootstrap.js"></script>

    <script src="common-js/isotope.pkgd.min.js"></script>

    <script src="common-js/jquery.waypoints.min.js"></script>

    <script src="common-js/progressbar.min.js"></script>

    <script src="common-js/jquery.fluidbox.min.js"></script>

    <script src="common-js/scripts.js"></script>
  </body>
</html>
